@media (max-width: 1480px) {
	.heading-text {
		color: rgb(23, 0, 116);
		font-size: 38px;
		margin-bottom: 20px;
	}
	.regular-text {
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.2px;
	}
}

@media (max-width: 1300px) {
	main {
		margin: 64px 48px;
		gap: 20px;
	}
	section {
		padding: 20px;
	}
	.games-content {
		margin-top: 24px;
	}
	.heading-text {
		color: rgb(23, 0, 116);
		font-size: 32px;
		margin-bottom: 0;
	}
	.regular-text {
		font-size: 18px;
		line-height: 1.2;
	}
	.our-games-img {
		width: 270px;
	}
}

@media (max-width: 1080px) {
	main {
		margin: 64px 96px;
		display: flex;
		flex-direction: column;
		gap: 48px;
	}
	section {
		padding: 28px;
	}

	.heading-text {
		color: rgb(23, 0, 116);
		font-size: 32px;
		margin-bottom: 20px;
	}
	.regular-text {
		font-size: 18px;
	}
	.our-games-img {
		width: 300px;
	}
}

@media (max-width: 816px) {
	.page-name {
		font-size: 28px;
	}

	.btn-mobile-nav {
		display: block;
		z-index: 1000;
	}
	header {
		position: relative;
		z-index: 2;
	}
	nav {
		background-color: rgb(255, 255, 255);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 95vh;
		transform: translateX(100%);

		display: flex;
		align-items: center;
		justify-content: center;

		background-color: rgb(129, 94, 144);
		border-radius: 8px;
		/* Hide the navigation */
		/* allows no transition at all*/
		/* display: none; */

		/* 1) Hide it visually*/
		opacity: 0;
		transition: all 0.5s;
		/* 2) Make it unaccessible to mouse and keyboard */
		pointer-events: none;
		/* 3) Hide it from screen readers */
		visibility: hidden;
		overflow: hidden;
	}
	.nav-open nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}
	.nav-open .icon-mobile-nav[name="close-outline"] {
		display: block;
	}
	.nav-open .icon-mobile-nav[name="menu-outline"] {
		display: none;
	}
	.main-nav-list {
		flex-direction: column;
		align-items: center;
		font-size: 28px;
		gap: 44px;
	}
	main {
		margin: 36px 82px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.heading-text {
		color: rgb(23, 0, 116);
		font-size: 28px;
		margin-bottom: 0;
	}
	.regular-text {
		font-size: 16px;
		line-height: 1.2;
	}
	.info-sec-img {
		width: 100px;
	}
	.our-games-img {
		width: 220px;
	}

	/* HIDE&SEEK*/
	.hidden-thing {
		width: 80px;
		height: 80px;
	}

	.text-content h3 {
		font-size: 20px;
	}
	.text-content p {
		font-size: 16px;
	}
}

@media (max-width: 608px) {
	header {
		margin: 20px 50px;
	}

	.info-section {
		height: 560px;
	}
	.questions-box {
		display: grid;
		grid-template-columns: 1.5fr 0.5fr;
	}
	.games-content {
		display: flex;
		flex-direction: column-reverse;
	}
	.games {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		gap: 20px;
	}
	.game {
		font-size: 14px;
	}
	.footer {
		font-size: 12px;
	}
	.footer-name {
		font-size: 14px;
	}

	.footer-container {
		padding: 20px;
	}
}
